<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>StudentAttendance</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js", 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="http://www.epicodus.com/">Epicodus HQ</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li>
	            <a href="/#/">Sign-in to Class</a>
	        </li>
	        <li>
	            <a href="/#/students">All Students</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div ng-view></div>
  <%= yield %>

</body>
</html>
