<div class="container" ng-controller="StudentsController">
  <div class="row" ng-show="students.length">
    <div class="col-md-12">
      <h4>Sign In</h4>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input ng-model="query" type="text" class="form-control" id="student-name" placeholder="Name">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 ng-show="students.length && !filtered.length">No Matches</h2>
      <ul ng-show="(query.length > 2) && filtered.length">
        <li ng-repeat="item in filtered = (students | filter:query)">
          <a ng-click="studentsFactory.deleteStudent(item)"> {{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>